*.pyc
/ShapeGenerator/Shapes/*
/ShapeImageGenerator/GeneratedImages/*
/ShapeImageGenerator/GeneratedImagesReduced/*
/ShapeImageGenerator/GeneratedImagesCropped/*
*.py~
/InterpolateGrasps/all_obj_transformation/*
